.content-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-container {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: lightblue;
  text-align: center;
}

.button-container {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: darkblue;
}

.lap-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 40vh;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin: auto;
  background: lightgreen;
}

.time-text {
  font-size: 4em;
}

.apple-button {
  /* 🌝 Button / iPhone / Apple Round */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 78px;
  height: 78px;

  /* iPhone & iPad/🌝 Background/Primary */
  background: #ffffff;
  border-radius: 43px;
  border: none;
  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
